@import '../../styles/app';

.widget-body h5 {
  margin-bottom: 0;
}

.crypto {
  &__header {
    display: flex;
    margin: 0 0 calc(1rem + 6px);
  }
  
  .page-title {
    margin: 0;
  }

  .badge {
    margin-left: 1rem;
    align-self: center;
  }

  .table th {
    font-size: $font-size-sm;
  }

  .abc-checkbox label {
    &::before {
      background-color: transparent;
    }
    &::after {
      color: #eee;
    }
  }
}
.star-rating {
  $size: 20px;
  $normal: #95A5A6;
  $selected: #F39C12;
  
  .favorite__icon--is-favorite {
    color: #F39C12;
  }
  
  a {
    width: $size;
    height: $size;
    line-height: $size;
    font-size: $size;
    color: $normal;
    text-decoration: none;
    text-align: center;
    transition: color .3s;
  }
  &:hover a {
    color: $selected;
    
    &:hover ~ a {
      color: $normal;
    }
  }
  
}
.imageIcon img{
  height: 20px;

}